<!DOCTYPE html>
<html>

	<head>
		<title> Byte </title> 
		<meta name = "viewport" content ="width=device-width, initial-scale =1.0">
		<link href = "css/bootstrap.min.css" rel ="stylesheet">
		<link href = "css/styles.css" text="text.css" rel = "stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type="text/javascript" src = "jquery.js"></script>
	</head>
	<body>  
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<script src = "js/bootstrap.js"></script>
		<div class = "navbar navbar-inverse navbar-fixed-top"> 	
				<div class = "container">
					<a href = "index.html" class = "navbar-brand "><font color = "white">Byte </font></a>
					<button class="navbar-toggle" data-toggle="collapse" data-target = ".navHeaderCollapse"> 
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
					</button> 
					<div class = "collapse navbar-collapse navHeaderCollapse">
						<ul class= "nav navbar-nav navbar-right"> 
							<li class= "active"><a href = "index.html"> Home </a> </li>
							<li><a href = "#"> Contact Us </a> </li>
							<li><a href = "#"> <span class="glyphicon glyphicon-user"> Sign Up </a> </li>
							<li><a href = "#"> <span class="glyphicon glyphicon-log-in"> Log In </a> </li>
						</ul> 
					</div> 
				</div>
				</div> 
		</div>
		<div class = "container">
			<div class="page-header">
			</div>
		</div>

  		<div class="jumbotron text-center">
   		 	<h1><font color="black">Here you go: </font></h1>      
    			<p><font color = "black"> Restaurants are listed below</font></p>
    				<div id = "write">
    					<script type="text/javascript">  						
							var url = window.location.href;
							var address = url.split('=');
							var mystr = address[1].split('+');
							var send = ''
							for(i=0;i<mystr.length;i++){
								send+=mystr[i]+' ';
							}
							console.log(send);
    					</script> 							
					</div>
		</div>
		<div class="container">
		<h2></h2>
		  <div class="list-group">
		    <a href="#" class="list-group-item">
		      <h3 class="list-group-item-heading"> Hibachi King 
		      <button type = "button" class= "btn pull-right btn-success"> 87
		      </button> 
		      </h3>
		      <p class="list-group-item-text">150 Lawrence St
			Downtown Brooklyn, NY 1120</p> 
		    </a>
		     <a href="#" class="list-group-item">
		      <h3 class="list-group-item-heading"> Five Guys 
		      <button type = "button" class= "btn pull-right btn-warning"> 67
		      </button> 
		      </h3>
		      <p class="list-group-item-text">2 MetroTech Center, Brooklyn, NY 11201</p> 
		    </a>
		    <a href="#" class="list-group-item">
		      <h3 class="list-group-item-heading"> Golden Fried Dumpling
		      <button type = "button" class= "btn pull-right btn-warning"> 54
		      </button> 
		      </h3>
		      <p class="list-group-item-text">192 Duffield St, Brooklyn, NY 11201 </p>
		    </a>
		    <a href="#" class="list-group-item">
		      <h3 class="list-group-item-heading"> Rocco's Tacos
		      <button type = "button" class= "btn pull-right btn-danger"> 44
		      </button> 
		      </h3>
		      <p class="list-group-item-text">339 Adams St, Brooklyn, NY 11201</p>
		    </a>

		  </div>
		</div>

	</body>
</html> 
